body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #136A73;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #136A73;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-advogados .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-a-empresa img {
    width: 100%;
}

#sobre-a-empresa,
#advogados {
    background-color: #ffeae6;
}

.text-colored {
    color: #136A73;
}

.nav-advogados .nav-link.active,
#fale-conosco button {
    background-color: #136A73;
    color: #fff;
}

.nav-advogados .nav-link:hover {
    color: #136A73;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}